site_name: FastAPI Pagination
site_author: Yurii Karabas
site_description: FastAPI Pagination
copyright: "Copyright &copy; 2024 Yurii Karabas"
repo_url: https://github.com/uriyyo/fastapi-pagination
repo_name: uriyyo/fastapi-pagination

theme:
  name: 'material'
  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: teal
      accent: cyan
      toggle:
        icon: material/lightbulb-outline
        name: "Switch to dark mode"
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: teal
      accent: cyan
      toggle:
        icon: material/lightbulb
        name: "Switch to light mode"
  features:
    - content.tabs.link
    - content.code.annotate
    - content.code.copy
    - announce.dismiss
    - navigation.footer
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.indexes
    - navigation.instant
    - navigation.instant.prefetch
    - navigation.instant.preview
    - navigation.instant.progress
    - navigation.path
    - navigation.top
    - navigation.tracking
    - search.suggest
    - toc.follow
  favicon: img/small-logo.png
  logo: img/small-logo.png
  icon:
    repo: fontawesome/brands/github

extra_javascript:
  #  - 'http://localhost:8001/run_code_main.js'
  - 'https://uriyyo.github.io/mkdocs-run-code/run_code_main.js'

nav:
  - "General": index.md
  - "Learn":
      - "Pagination":
        - "General": learn/pagination/general.md
        - "Techniques": learn/pagination/techniques.md
      - "Tutorial - User Guide":
        - "First Steps": learn/tutorial_user_guide/first_steps.md
        - "Elements": learn/tutorial_user_guide/elements.md
        - "Add to Route": learn/tutorial_user_guide/add_to_route.md
        - "Own Page Model": learn/tutorial_user_guide/own_page_model.md
        - "Items Transformer": learn/tutorial_user_guide/items_transformer.md
        - "Links": learn/tutorial_user_guide/page_links.md
        - "Paginate": learn/tutorial_user_guide/paginate.md
      - "Tutorial - Advanced":
          - "Low-Level API": learn/tutorial_advanced/low_level_api.md
          - "Custom paginate": learn/tutorial_advanced/custom_paginate.md
  - "Customization":
      - "General": customization/general.md
      - "Available Customizers":
          - "UseName": customization/customizers/use_name.md
          - "UseModule": customization/customizers/use_module.md
          - "UseIncludeTotal": customization/customizers/use_include_total.md
          - "UseQuotedCursor": customization/customizers/use_quoted_cursor.md
          - "UseParams": customization/customizers/use_params.md
          - "UseParamsFields": customization/customizers/use_params_fields.md
          - "UseOptionalParams": customization/customizers/use_optional_params.md
          - "UseModelConfig": customization/customizers/use_model_config.md
          - "UseExcludedFields": customization/customizers/use_excluded_fields.md
          - "UseFieldsAliases": customization/customizers/use_fields_aliases.md
          - "UseAdditionalFields": customization/customizers/use_additional_fields.md
          - "UseFieldTypeAnnotations": customization/customizers/use_field_type_annotations.md
          - "UseResponseHeaders": customization/customizers/use_response_headers.md
          - "UsePydanticV1": customization/customizers/use_pydantic_v1.md
      - "Customizers Combinations": customization/customizer_combinations.md
  - "Integrations":
      - "Available": integrations/available.md
      - "SQLAlchemy":
          - "General": integrations/sqlalchemy/general.md
          - "Paginate Function": integrations/sqlalchemy/paginate.md
          - "Cursor Pagination": integrations/sqlalchemy/cursor_pagination.md
          - "Relationships": integrations/sqlalchemy/relationships.md
  - "Migration to v0.13.x": "v0_13_migration.md"
  - "Migration to v0.14.x": "v0_14_migration.md"
  - "FAQ":
      - "FAQ": faq/faq.md
  - "Contributing": contributing.md
  - "License": license.md

markdown_extensions:
  - tables
  - toc:
      permalink: true
      title: Page contents
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.highlight:
      pygments_lang_class: true
  - pymdownx.extra
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.tabbed:
      alternate_style: true
  - mdx_include:
      base_path: docs

plugins:
  - search

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/uriyyo/fastapi-pagination/
    - icon: fontawesome/brands/linkedin
      link: https://www.linkedin.com/in/uriyyo/

watch:
  - docs
  - README.md
  - mkdocs.yml
