[tool.poetry]
name = "fastapi-pagination"
version = "0.9.0"
description = "FastAPI pagination"
authors = [
    "Yurii Karabas <1998uriyyo@gmail.com>",
]

license = "MIT"
readme = "README.md"
repository = "https://github.com/uriyyo/fastapi-pagination"

classifiers = [
    'Operating System :: OS Independent',
    'Programming Language :: Python',
    'Programming Language :: Python :: 3',
    'Programming Language :: Python :: 3.7',
    'Programming Language :: Python :: 3.8',
    'Programming Language :: Python :: 3.9',
    'Programming Language :: Python :: 3 :: Only',
]

[tool.poetry.dependencies]
python = "^3.7"
pydantic = ">=1.7.2"
fastapi = ">=0.61.2"
gino = { version = ">=1.0.1", extras = ["starlette"], optional = true }
SQLAlchemy = { version = ">=1.3.20", optional = true }
databases = { version = ">=0.4.0", extras = ["postgresql", "sqlite", "mysql"], optional = true }
orm = { version = ">=0.1.5", optional = true }
typesystem = { version = "^0.2.0", optional = true }
tortoise-orm = { version = ">=0.16.18,<0.18.0", extras = ["asyncpg", "aiomysql", "aiosqlite"], optional = true }
asyncpg = { version = ">=0.24.0", optional = true }
ormar = { version = ">=0.10.5", optional = true}
Django = { version = "<3.3.0", optional = true}
piccolo = { version = ">=0.29,<0.35", optional = true}

# sqlmodel = { version = "^0.0.4", optional = true} Should be uncommented when gino will support sqlalchemy 1.4

[tool.poetry.dev-dependencies]
pytest = "^6.2"
pytest-cov = "^2.12.1"
pytest-asyncio = "^0.15.1"
black = "^21.7b0"
pre-commit = "^2.15.0"
Faker = "^8.13.2"
requests = "^2.26.0"
nest-asyncio = "^1.4.3"
psycopg2-binary = "^2.9.1"
asynctest = "^0.13.0"
mkdocs = "^1.1.2"
mkdocs-material = "^7.2.3"
pymdown-extensions = "^8.2"
fontawesome-markdown = "^0.2.6"
sqlalchemy-stubs = "^0.4"

[tool.poetry.extras]
gino = ["gino", "SQLAlchemy"]
sqlalchemy = ["SQLAlchemy"]
databases = ["databases"]
orm = ["orm", "databases", "typesystem"]
ormar = ["ormar"]
tortoise = ["tortoise-orm"]
asyncpg = ["SQLAlchemy", "asyncpg"]
django = ["django", "databases"]
piccolo = ["piccolo"]
all = ["gino", "SQLAlchemy", "sqlalchemy-stubs", "databases", "orm", "ormar", "tortoise-orm", "asyncpg", "django", "piccolo"]

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.black]
line-length = 120
target-version = ['py37', 'py38']
include = '\.pyi?$'
exclude = '''
/(
    \.eggs
  | \.git
  | \.hg
  | \.mypy_cache
  | \.tox
  | \.venv
  | _build
  | buck-out
  | build
  | dist
  # The following are specific to Black, you probably don't want those.
  | blib2to3
  | tests/data
  | profiling
)/
'''
