[tool.poetry]
name = "fastapi-pagination"
version = "0.7.0"
description = "FastAPI pagination"
authors = [
    "Yurii Karabas <1998uriyyo@gmail.com>",
]

license = "MIT"
readme = "README.md"
repository = "https://github.com/uriyyo/fastapi-pagination"

classifiers = [
    'Operating System :: OS Independent',
    'Programming Language :: Python',
    'Programming Language :: Python :: 3',
    'Programming Language :: Python :: 3.7',
    'Programming Language :: Python :: 3.8',
    'Programming Language :: Python :: 3.9',
    'Programming Language :: Python :: 3 :: Only',
]

[tool.poetry.dependencies]
python = "^3.7"
pydantic = "^1.7.2"
fastapi = ">=0.61.2"
typing-extensions = "^3.7.4"
gino = { version = "^1.0.1", extras = ["starlette"], optional = true }
SQLAlchemy = { version = "^1.3.20", optional = true }
sqlalchemy-stubs = { version = "^0.4", optional = true }
databases = { version = "^0.4.0", extras = ["postgresql", "sqlite", "mysql"], optional = true }
orm = { version = "^0.1.5", optional = true }
tortoise-orm = { version = "^0.16.18", extras = ["asyncpg", "aiomysql", "aiosqlite"], optional = true }
asyncpg = { version = "0.22.0", optional = true }
ormar = { version = "^0.9.8", optional = true}

[tool.poetry.dev-dependencies]
pytest = "^6.2"
pytest-cov = "^2.10.1"
pytest-asyncio = "^0.14.0"
black = "^20.8b1"
pre-commit = "^2.11.1"
Faker = "^6.6.0"
requests = "^2.25.0"
nest-asyncio = "^1.4.3"
psycopg2 = "^2.8.6"
asynctest = "^0.13.0"
mkdocs = "^1.1.2"
mkdocs-material = "^7.0.6"
pymdown-extensions = "^8.1"
fontawesome-markdown = "^0.2.6"

[tool.poetry.extras]
gino = ["gino", "SQLAlchemy", "sqlalchemy-stubs"]
sqlalchemy = ["SQLAlchemy", "sqlalchemy-stubs"]
databases = ["databases"]
orm = ["orm", "databases"]
ormar = ["ormar"]
tortoise = ["tortoise-orm"]
asyncpg = ["SQLAlchemy", "asyncpg"]
all = ["gino", "SQLAlchemy", "sqlalchemy-stubs", "databases", "orm", "ormar", "tortoise-orm", "asyncpg"]

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.black]
line-length = 120
target-version = ['py37', 'py38']
include = '\.pyi?$'
exclude = '''
/(
    \.eggs
  | \.git
  | \.hg
  | \.mypy_cache
  | \.tox
  | \.venv
  | _build
  | buck-out
  | build
  | dist
  # The following are specific to Black, you probably don't want those.
  | blib2to3
  | tests/data
  | profiling
)/
'''
