[tool.poetry]
name = "fastapi-pagination"
version = "0.9.3"
description = "FastAPI pagination"
authors = [
    "Yurii Karabas <1998uriyyo@gmail.com>",
]

license = "MIT"
readme = "README.md"
repository = "https://github.com/uriyyo/fastapi-pagination"

classifiers = [
    'Operating System :: OS Independent',
    'Programming Language :: Python',
    'Programming Language :: Python :: 3',
    'Programming Language :: Python :: 3.7',
    'Programming Language :: Python :: 3.8',
    'Programming Language :: Python :: 3.9',
    'Programming Language :: Python :: 3 :: Only',
]

[tool.poetry.dependencies]
python = "^3.7"
pydantic = ">=1.7.2"
fastapi = ">=0.61.2"
gino = { version = ">=1.0.1", extras = ["starlette"], optional = true }
SQLAlchemy = { version = ">=1.3.20", optional = true }
databases = { version = ">=0.4.0", extras = ["postgresql", "sqlite", "mysql"], optional = true }
orm = { version = ">=0.1.5", optional = true }
typesystem = { version = "^0.2.0", optional = true }
tortoise-orm = { version = ">=0.16.18,<0.20.0", extras = ["asyncpg", "aiomysql", "aiosqlite"], optional = true }
asyncpg = { version = ">=0.24.0", optional = true }
ormar = { version = ">=0.10.5", optional = true}
Django = { version = "<3.3.0", optional = true}
piccolo = { version = ">=0.29,<0.35", optional = true}
motor =  { version = "^2.5.1", optional = true }

# sqlmodel = { version = "^0.0.4", optional = true} Should be uncommented when gino will support sqlalchemy 1.4
mongoengine = {version = ">=0.23.1,<0.25.0", optional = true}

[tool.poetry.dev-dependencies]
pytest = "^7.1"
pytest-cov = "^3.0.0"
pytest-asyncio = "^0.18.3"
black = "^21.7b0"
pre-commit = "^2.18.1"
Faker = "^9.5.0"
psycopg2-binary = "^2.9.3"
mkdocs = "^1.1.2"
mkdocs-material = "^7.2.3"
pymdown-extensions = "^9.3"
fontawesome-markdown = "^0.2.6"
sqlalchemy-stubs = "^0.4"
httpx = "^0.22.0"
asgi-lifespan = "^1.0.1"
requests = "^2.27.1"

[tool.poetry.extras]
gino = ["gino", "SQLAlchemy"]
sqlalchemy = ["SQLAlchemy"]
databases = ["databases"]
orm = ["orm", "databases", "typesystem"]
ormar = ["ormar"]
tortoise = ["tortoise-orm"]
asyncpg = ["SQLAlchemy", "asyncpg"]
django = ["django", "databases"]
piccolo = ["piccolo"]
motor = ["motor"]
mongoengine = ["mongoengine"]
all = ["gino", "SQLAlchemy", "sqlalchemy-stubs", "databases", "orm", "ormar", "tortoise-orm", "asyncpg", "django", "piccolo", "motor", "mongoengine"]

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.black]
line-length = 120
target-version = ['py37', 'py38']
include = '\.pyi?$'
exclude = '''
/(
    \.eggs
  | \.git
  | \.hg
  | \.mypy_cache
  | \.tox
  | \.venv
  | _build
  | buck-out
  | build
  | dist
  # The following are specific to Black, you probably don't want those.
  | blib2to3
  | tests/data
  | profiling
)/
'''
