[tool.poetry]
name = "fastapi-pagination"
version = "0.11.0"
description = "FastAPI pagination"
authors = [
    "Yurii Karabas <1998uriyyo@gmail.com>",
]

license = "MIT"
readme = "README.md"
repository = "https://github.com/uriyyo/fastapi-pagination"

classifiers = [
    'Operating System :: OS Independent',
    'Programming Language :: Python',
    'Programming Language :: Python :: 3',
    'Programming Language :: Python :: 3.8',
    'Programming Language :: Python :: 3.9',
    'Programming Language :: Python :: 3.10',
    'Programming Language :: Python :: 3.11',
    'Programming Language :: Python :: 3 :: Only',
]

[tool.poetry.dependencies]
python = ">=3.8,<4.0"
pydantic = ">=1.9.1"
fastapi = ">=0.80.0"
SQLAlchemy = { version = ">=1.3.20", optional = true }
databases = { version = ">=0.6.0", optional = true }
orm = { version = ">=0.3.1", optional = true }
tortoise-orm = { version = ">=0.16.18,<0.20.0", optional = true }
asyncpg = { version = ">=0.24.0", optional = true }
ormar = { version = ">=0.11.2", optional = true}
django = { version = "<5.0.0", optional = true}
piccolo = { version = ">=0.89,<0.98", optional = true}
motor =  { version = ">=2.5.1,<4.0.0", optional = true }
mongoengine = {version = ">=0.23.1,<0.25.0", optional = true}
sqlmodel = { version = "^0.0.8", optional = true}
pony = { version = "^0.7.16", optional = true}
beanie = { version = "^1.11.9", optional = true}
sqlakeyset = { version = "^1.0.1659142803", optional = true }
scylla-driver = {version = "^3.25.6", optional = true}

[tool.poetry.dev-dependencies]
pytest = "^7.2.0"
pytest-cov = "^4.0.0"
pytest-asyncio = "^0.20.2"
black = "^22.10.0"
pre-commit = "^2.20.0"
Faker = "^15.3.3"
psycopg2-binary = "^2.9.5"
mkdocs = "^1.4.1"
mkdocs-material = "^8.5.7"
pymdown-extensions = "^9.7"
fontawesome-markdown = "^0.2.6"
sqlalchemy-stubs = "^0.4"
httpx = "^0.23.1"
asgi-lifespan = "^2.0.0"
requests = "^2.28.1"
uvicorn = "^0.20.0"
Jinja2 = "^3.1.2"

[tool.poetry.extras]
sqlmodel = ["sqlmodel", "sqlakeyset"]
sqlalchemy = ["SQLAlchemy", "sqlakeyset"]
databases = ["databases"]
orm = ["orm", "databases", "typesystem"]
ormar = ["ormar"]
tortoise = ["tortoise-orm"]
asyncpg = ["SQLAlchemy", "asyncpg"]
django = ["django", "databases"]
piccolo = ["piccolo"]
motor = ["motor"]
mongoengine = ["mongoengine"]
beanie =  ["beanie"]
scylla-driver = ["scylla-driver"]
all = ["sqlmodel", "SQLAlchemy", "databases", "orm", "ormar", "tortoise-orm", "asyncpg", "django", "piccolo", "motor", "mongoengine", "pony", "beanie", "sqlakeyset", "scylla-driver"]

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.black]
line-length = 120
target-version = ['py37', 'py38']
include = '\.pyi?$'
exclude = '''
/(
    \.eggs
  | \.git
  | \.hg
  | \.mypy_cache
  | \.tox
  | \.venv
  | _build
  | buck-out
  | build
  | dist
  # The following are specific to Black, you probably don't want those.
  | blib2to3
  | tests/data
  | profiling
)/
'''
